/*# usa para id (identidade única). Ponto (.) usa para class*/

header{
    background-image: url('../img/paisagem.jpg');/* cover center center no-repeat fixed #b3e0ff;*/
    background-repeat: no-repeat;
    background-attachment: fixed; /*não rola junto com a página*/
    background-size: cover; /*contain faz a imagem ficar fixa, cover faz a imagem distorcer para sempre tentar cobrir o header*/
    background-color: #990066;
    position: relative;
}

header h1 img{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50%;
    max-height: 200px;
}

img.center{
    display: block;
    margin: 0 auto;
}

table, th, td{
    background-color: #ffcccc;
    border: 1px solid#660000;
    padding: 5px 10px 5px 10px;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

/*ponto na frente significa classe*/
.linhaazul{
    color: #0099ff;
}

/*resumo*/
section{
    /*background-color: #ffcccc;*/
    color: #660000;
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 300px;
    padding: 10px 10px 10px 10px;
    /*dá pra fazer o padding tudo na mesma linha na ordem do relógio ou cada um numa linha
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 90px;*/
    margin: 50px auto;
    /*border-style: dashed; solid dashed dotted double groove - pode colocar um lado com cada estilo, na ordem do relógio
    border-color: #ff0000;
    border-width: 5px;
    border-radius: 40px;*/
    box-sizing: border-box; /*padrão é content-box (considerar primeiro conteúdo. Border-box também considera por dentro, então não vai além do tamanho setado width x height)*/

}

section h3{
    text-align: center;
}

section p{
    text-align: center;
}

section img{
    max-width: 100px;
    border-radius: 100px;
}


nav{
    padding: 5px 0;
    background-color: #ff0099;
    position: absolute; /*fixed caso queira que ande com o scroll*/
    width: 400px;
    bottom: 0px;
    right: 0px;
}

/*inline = visualizar itens de lista lado a lado*/
/*nesse caso somente para a lista do <nav>*/
nav ul li{
    display: inline;
    padding: 20px;
}

/*mudando a cor dos itens de menu*/
nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #000000;
}

body{
    font-family: 'Raleway', sans-serif;;
}

/*hashtag na frente significa id*/
#titulo{
    color:#990000;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
/*se não especificar nada ele vai mudar todos os h2 do html*/
h2{
    color:#ff0000;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lucida Sans';
}

footer{
    text-align: center;
    background-color: #ffcccc;
    color: #ff9999;
    padding: 2px;
}

footer a:hover {
    color: #660000;
    text-decoration: none;
}

.pormim{
    color:#660000;
}