/*# usa para id (identidade única). Ponto (.) usa para class*/

header{
    background-image: url('../img/paisagem.jpg');/* cover center center no-repeat fixed #b3e0ff;*/
    background-repeat: no-repeat;
    background-attachment: fixed; /*não rola junto com a página*/
    background-size: cover; /*contain faz a imagem ficar fixa, cover faz a imagem distorcer para sempre tentar cobrir o header*/
    background-color: #990066;
}

header h1 img{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50%;
    max-height: 200px;
}

img.center{
    display: block;
    margin: 0 auto;
}

section p{
    text-align: center;
}

.lalala{
    background-color: blue;
}

a{
    background-color: pink;
    width: 500px;
    padding: 20px;
    display: inline-block;
}

p{
    background-color: yellow;
    padding-top: 20px;
    padding-left: 10px;
    display: block;
    height: 200px;
}

label{
    width: 200px;
    display: inline-block;
}

input.input-texto{
    width: 300px;
}
label.seletores{
    display: inline-block;
}

span.texto-besta{
    display: block;
}
]

div{
    margin-top: 20px;
}

div.div-forms{
    margin-top: 20px;
}

form{
    margin: 60px;
}

section img{
    max-width: 100px;
    border-radius: 100px;
}

nav{
    background-color: #ff0099
}

/*inline = visualizar itens de lista lado a lado*/
/*nesse caso somente para a lista do <nav>*/
nav ul li{
    display: inline;
    padding-right: 20px;
}

/*mudando a cor dos itens de menu*/
nav ul li a{
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover{
    color: #000000;
}

body{
    font-family: 'Raleway', sans-serif;
}

/*hashtag na frente significa id*/
#titulo{
    color:#990000;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

/*se não especificar nada ele vai mudar todos os h2 do html*/
h2{
    color:#ff0000;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-decoration: underline;
}

footer{
    text-align: center;
    background-color: #ffcccc;
    color: #ff9999;
    padding: 2px;
}

footer a:hover {
    color: #660000;
    text-decoration: none;
}

.pormim{
    color:#660000;
}